// Typography Variables
@font-face {
    font-family: 'Pricedown';
    src: url('assets/pricedown/pricedown_bl-webfont.woff2') format('woff2'),
         url('assets/pricedown/pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$pricedown: 'Pricedown', 'Proxima Nova', sans-serif;
$leckerli: 'Leckerli One', cursive;

$main-font: 'Proxima Nova', 'Lato', sans-serif;

//Colour Variables
$colour-dark-grey: #4c4c4c;
$colour-white: #fff;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-pink: #E0347A;

$color-grey-dark: #777;
$color-grey-dark-3: #4c4c4c;
$color-grey-light: #eee;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

//Colour accents per category

//ELearning colour pallette
$accent-elearning: #f14f35;
$accent-elearning-dark: #c63e30; //usually used for hovers
$accent-elearning-light: #f58371;

//Motion colour pallette
$accent-motion: #f2bb01;

//New Media colour pallette
$accent-new-media: #70cee4;

//Print colour pallette
$accent-print: #e0347a;

//Web colour pallette
$accent-web: #8a488c;
